<% include ../partials/header%>

<div class="main-title">
    <h1>Users Profile Page</h1>
</div>
<div class="ui container grid middle-content">
    <% users.forEach(user => { %>
    <div class="four wide column users-card">
        <div class="ui card">
            <div class="image" id="avatar-users">
                <img src="<%=user.avatar%>">
            </div>
            <div class="content">
                <a href="/users/<%=user._id%>">
                    <div class="header"><%=user.username%></div>
                </a>
                <div class="meta">
                <span class="date">Joined in <%= months[user.memberSince.getMonth()]%>, <%= user.memberSince.getFullYear() %> </span>
                </div>
                <div class="description user-description">
                <%= user.aboutme %>
                </div>
            </div>
            <div class="extra content">
                <a href="/users/<%=user.id%>">
                <i class="edit outline icon"></i>
                # of Posts: <bold><%= user.count %></bold>
                </a>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<% include ../partials/footer%>