<% include ../partials/header%>

<div class="ui main text container">
    <h1>Users Profile</h1>
    <%=blogs.name%>
</div>
<div class="ui container grid middle-content">
    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="<%=user.avatar%>">
            </div>
            <div class="content">
                <div class="header"><%=user.name%></div>
                <div class="description">
                    <ul>
                        <% blogs.forEach(blog => { %>
                            <li>
                                <a href="/blogs/<%=blog.id%>">
                                    <%= blog.title %>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer%>